<form>
    <div class="flexcol">
        <section>
            <h2>{{ localize "SWN-IMPORTER.DIALOG-FILE" }}</h2>
            <p>{{ localize "SWN-IMPORTER.DIALOG-UPLOAD-FILE" }}</p>
            <input type="file" accept=".json" id="swn-sector-file" required>
            <p>Note: You can get this file by clicking on the export on <a
                    href="https://sectorswithoutnumber.com">Sectors
                    Without Numbers</a> and then selecting JSON format.</p>
        </section>
        <section>
            <h2>{{ localize "SWN-IMPORTER.DIALOG-OPTIONS" }}</h2>
            <div class="flexcol">
                <div class="flexrow">
                    <input type="checkbox" id="swni-dialog-coordinates" name="generateSectorCoordinates" {{#if
                        generateSectorCoordinates}}checked{{/if}}>
                    <label for="swni-dialog-coordinates" style="align-self: center;">{{ localize "SWN-IMPORTER.DIALOG-COORDINATES" }}</label>
                </div>

                <div class="flexrow">
                    <input type="checkbox" id="swni-dialog-name" name="generateHexName" {{#if
                        generateHexName}}checked{{/if}}>
                    <label for="swni-dialog-name" style="align-self: center;">{{ localize "SWN-IMPORTER.DIALOG-NAME" }}</label>
                </div>

                <div class="flexrow">
                    <input type="checkbox" id="swni-dialog-notes" name="generateNotesForAllEntities" {{#if
                        generateNotesForAllEntities}}checked{{/if}}>
                    <label for="swni-dialog-notes" style="align-self: center;">{{ localize "SWN-IMPORTER.DIALOG-NOTES" }}</label>
                </div>

                <div class="flexrow">
                    <input type="checkbox" id="swni-dialog-gm" name="onlyGMJournals" {{#if
                        onlyGMJournals}}checked{{/if}}>
                    <label for="swni-dialog-gm" style="align-self: center;">{{ localize "SWN-IMPORTER.DIALOG-GM" }}</label>
                </div>

                <div class="flexrow">
                    <input type="checkbox" id="swni-dialog-type" name="addTypeToEntityJournal" {{#if
                        addTypeToEntityJournal}}checked{{/if}}>
                    <label for="swni-dialog-type" style="align-self: center;">{{ localize "SWN-IMPORTER.DIALOG-TYPE" }}</label>
                </div>

                <div class="flexrow">
                    <input type="checkbox" id="swni-dialog-coord-prefix" name="prefixSystemFoldersWithCoordinates" {{#if
                        prefixSystemFoldersWithCoordinates}}checked{{/if}}>
                    <label for="swni-dialog-coord-prefix" style="align-self: center;">{{ localize "SWN-IMPORTER.DIALOG-COORD-PREFIX" }}</label>
                </div>

                <h2>{{ localize "SWN-IMPORTER.DIALOG-IMAGES" }}</h2>
                {{>imagePicker optionName="asteroidBasePath" label="SWN-IMPORTER.ASTEROID-BASE" initialValue=asteroidBasePath}}
                {{>imagePicker optionName="asteroidBeltPath" label="SWN-IMPORTER.ASTEROID-BELT" initialValue=asteroidBeltPath}}
                {{>imagePicker optionName="blackHolePath" label="SWN-IMPORTER.BLACK-HOLE" initialValue=blackHolePath}}
                {{>imagePicker optionName="deepSpaceStationPath" label="SWN-IMPORTER.DEEP-SPACE-STATION" initialValue=deepSpaceStationPath}}
                {{>imagePicker optionName="gasGiantMinePath" label="SWN-IMPORTER.GAS-GIANT-MINE" initialValue=gasGiantMinePath}}
                {{>imagePicker optionName="moonPath" label="SWN-IMPORTER.MOON" initialValue=moonPath}}
                {{>imagePicker optionName="moonBasePath" label="SWN-IMPORTER.MOON-BASE" initialValue=moonBasePath}}
                {{>imagePicker optionName="orbitalRuinPath" label="SWN-IMPORTER.ORBITAL-RUIN" initialValue=orbitalRuinPath}}
                {{>imagePicker optionName="planetPath" label="SWN-IMPORTER.PLANET" initialValue=planetPath}}
                {{>imagePicker optionName="refuelingStationPath" label="SWN-IMPORTER.REFUELING-STATION" initialValue=refuelingStationPath}}
                {{>imagePicker optionName="researchBasePath" label="SWN-IMPORTER.RESEARCH-BASE" initialValue=researchBasePath}}
                {{>imagePicker optionName="spaceStationPath" label="SWN-IMPORTER.SPACE-STATION" initialValue=spaceStationPath}}
                {{>imagePicker optionName="systemPath" label="SWN-IMPORTER.SYSTEM" initialValue=systemPath}}
                
                {{>imagePicker optionName="backgroundPath" label="SWN-IMPORTER.BACKGROUND" initialValue=backgroundPath}}
            </div>
        </section>
        <section>
            &nbsp;
        </section>
        <section>
            <button type="submit">{{ localize "SWN-IMPORTER.DIALOG-IMPORT" }}</button>
        </section>
    </div>
</form>