<div>
    <h2>{{ localize "SWN-IMPORTER.ENTITY-GENERAL" }}</h2>
    <div style="display: flex; flex-direction:row; justify-content:space-between;">
        <div>
            <p>
                <strong>{{name}}</strong> {{ localize "SWN-IMPORTER.JOURNAL-IS-A" }} {{type}} {{location}}
                {{parentLink}} {{#if
                showType}}({{parentType}}){{/if}} {{ localize
                "SWN-IMPORTER.JOURNAL-AT-COORDINATES" }}
                <strong>{{coordinates}}</strong>.
            </p>
            {{#if systemLink}}
            <p>
                {{ localize "SWN-IMPORTER.JOURNAL-ITS-IN" }} {{systemLink}} {{#if showType}}({{systemType}}){{/if}} {{ localize
                "SWN-IMPORTER.JOURNAL-AT-COORDINATES" }} <strong>{{coordinates}}</strong>.
            </p>
            {{/if}}
        </div>
        {{#if image}}
        <div>
            <img src="{{image}}" alt="{{type}} image" style="min-width: 200px; width: 200px;" />
        </div>
        {{/if}}
    </div>

    <section class="secret">
        <h2 style="margin-top: 5px;">{{ localize "SWN-IMPORTER.ENTITY-DETAILS" }}</h2>
        <div style="display:flex; flex-direction: row; justify-content:space-between;">
            <div>
                {{#if attributes}}
                <h3>{{ localize "SWN-IMPORTER.ENTITY-ATTRIBUTES" }}</h3>
                <table>
                    {{#attributes}}
                    <tr>
                        <td style="padding: 3px;">
                            <strong>{{name}}</strong>
                        </td>
                        <td style="padding: 3px;">
                            {{description}}
                        </td>
                    </tr>
                    {{/attributes}}
                </table>
                {{/if}}

                {{#if description}}
                <h3>{{ localize "SWN-IMPORTER.ENTITY-DESCRIPTION" }}</h3>
                <blockquote>{{description}}</blockquote>
                {{/if}}

                {{>notes}}
            </div>
            {{#if diagram}}
            <div style="border: 1px solid; padding: 5px;">
                {{#diagram}}
                <div style="display:flex; flex-direction: row; align-items: center; height: 32px;">
                    {{#indentation}}
                    <div
                        style="width: 32px; min-width: 32px; text-align: center; font-family: monospace; font-size: 27px; color: lightslategrey">
                        {{.}}
                    </div>
                    {{/indentation}}
                    <div>
                        <img src="{{image}}" style="width: 32px; border-width: 0;" />
                    </div>
                    <div style="margin-left: 5px;">
                        {{#if link}}
                        {{link}}
                        {{else}}
                        <strong>{{../name}}</strong>
                        {{/if}}
                    </div>
                    {{#if type}}
                    <div style="margin-left: 5px;">
                        ({{type}})
                    </div>
                    {{/if}}
                </div>
                {{/diagram}}
            </div>
            {{/if}}
        </div>

        {{#tags}}
        {{>tag}}
        {{/tags}}

    </section>
</div>