<div>
    <h2>General</h2>
    <p>
        <strong>{{name}}</strong> is a {{type}} {{location}} {{parentLink}} {{#if showType}}({{parentType}}){{/if}}.
    </p>
    {{#if systemLink}}
    <p>
        It's in {{systemLink}} {{#if showType}}({{systemType}}){{/if}} at coordinates <strong>{{coordinates}}</strong>.
    </p>
    {{/if}}

    <section class="secret">
        {{#if description}}
        <h2>Description</h2>
        <p>{{description}}</p>
        {{/if}}

        {{#if children}}
        <h2>Points of interest</h2>
        <ul>
            {{#children}}
            <li>{{link}} {{#if ../showType}}({{type}}){{/if}}</li>
            {{/children}}
        </ul>
        {{/if}}

        <h2>Characteristics</h2>
        <div style="display:table">
            {{#attributes}}
            <div style="display:table-row">
                <div style="display:table-cell">
                    <span style="font-weight: bold">{{name}}</span>
                </div>
                <div style="display:table-cell">
                    <span>{{description}}</span>
                </div>
            </div>
            {{/attributes}}
        </div>

        {{#tags}}
        <h2>{{name}}</h2>
        <p>{{description}}</p>
        <div>
            Enemies
            <ul>
                {{#enemies}}
                <li>{{.}}</li>
                {{/enemies}}
            </ul>
        </div>
        <div>
            Friends
            <ul>
                {{#friends}}
                <li>{{.}}</li>
                {{/friends}}
            </ul>
        </div>
        <div>
            Complications
            <ul>
                {{#complications}}
                <li>{{.}}</li>
                {{/complications}}
            </ul>
        </div>
        <div>
            Things
            <ul>
                {{#things}}
                <li>{{.}}</li>
                {{/things}}
            </ul>
        </div>
        <div>
            Places
            <ul>
                {{#places}}
                <li>{{.}}</li>
                {{/places}}
            </ul>
        </div>
        {{/tags}}

    </section>
</div>