<div>
    <h2>General</h2>
    <div style="display: flex; flex-direction:row; justify-content:space-between;">
        <div>
            <p>
                <strong>{{name}}</strong> is a {{type}}.
            </p>
        </div>
        {{#if image}}
        <div>
            <img src="{{image}}" alt="{{type}} image" style="min-width: 200px; width: 200px;" />
        </div>
        {{/if}}
    </div>

    <section class="secret">
        <h2 style="margin-top: 5px;">Details</h2>

        {{#if description}}
        <h3>Description</h3>
        <blockquote>{{description}}</blockquote>
        {{/if}}

        {{#if notes}}
        {{>notes}}
        {{/if}}

        {{#tags}}
        {{>tag}}
        {{/tags}}

        {{#if children}}
        <h3>Systems in this sector</h3>
        <ul style="list-style-type: circle;">
            {{#children}}
            <li>{{link}} {{#if ../showType}}({{type}}){{/if}} at coordinates <strong>{{coordinates}}</strong></li>
            {{/children}}
        </ul>
        {{/if}}

    </section>
</div>