<div>
    <h2>General</h2>
    <div style="display: flex; flex-direction:row; justify-content:space-between;">
        <div>
            <p>
                <strong>{{name}}</strong> is a {{type}}.
            </p>
        </div>
        {{#if image}}
        <div>
            <img src="{{image}}" alt="{{type}} image" style="min-width: 200px; width: 200px;" />
        </div>
        {{/if}}
    </div>

    <section class="secret">
        {{#if description}}
        <h2>Description</h2>
        <p>{{description}}</p>
        {{/if}}

        {{#if children}}
        <h2>Systems in this sector</h2>
        <ul>
            {{#children}}
            <li>{{link}} {{#if ../showType}}({{type}}){{/if}} at coordinates <strong>{{coordinates}}</strong></li>
            {{/children}}
        </ul>
        {{/if}}
    </section>
</div>