<div>
    <h2>{{ localize "SWN-IMPORTER.SECTOR-GENERAL" }}</h2>
    <div style="display: flex; flex-direction:row; justify-content:space-between;">
        <div>
            <p>
                <strong>{{name}}</strong> {{ localize "SWN-IMPORTER.JOURNAL-IS-A" }} {{type}}.
            </p>
        </div>
        {{#if image}}
        <div>
            <img src="{{image}}" alt="{{type}} image" style="min-width: 200px; width: 200px;" />
        </div>
        {{/if}}
    </div>

    <section class="secret">
        <h2 style="margin-top: 5px;">{{ localize "SWN-IMPORTER.SECTOR-DETAILS" }}</h2>

        {{#if description}}
        <h3>{{ localize "SWN-IMPORTER.SECTOR-DESCRIPTION" }}</h3>
        <blockquote>{{description}}</blockquote>
        {{/if}}

        {{>notes}}

        {{#tags}}
        {{>tag}}
        {{/tags}}

        {{#if children}}
        <h3>{{ localize "SWN-IMPORTER.SECTOR-SYSTEMS-IN-SECTOR" }}</h3>
        <ul style="list-style-type: circle;">
            {{#children}}
            <li>{{link}} {{#if ../showType}}({{type}}){{/if}} {{>tagLinks tags=tags}} at coordinates <strong>{{coordinates}}</strong></li>
            {{/children}}
        </ul>
        {{/if}}

    </section>
</div>