<div>
    <h2>General</h2>
    <div style="display: flex; flex-direction:row; justify-content:space-between;">
        <div>
            <p>
                {{name}} is a {{type}} in {{parentLink}} at coordinates <strong>{{coordinates}}</strong>.
            </p>
        </div>
        {{#if image}}
        <div>
            <img src="{{image}}" alt="{{type}} image" style="min-width: 200px; width: 200px;" />
        </div>
        {{/if}}
    </div>

    <section class="secret">
        {{#if description}}
        <h2>Description</h2>
        <p>{{description}}</p>
        {{/if}}

        {{#if diagram}}
        <h2>Diagram</h2>
        <div>
            {{#diagram}}
            <div style="display:flex; flex-direction: row; align-items: center; height: 32px;">
                <div style="width: {{indentation}}px;">

                </div>
                <div>
                    <img src="{{image}}" style="width: 32px; border-width: 0;" />
                </div>
                <div>
                    &nbsp;
                    {{#if link}}
                    {{link}}
                    {{else}}
                    <strong>{{../name}}</strong>
                    {{/if}}
                </div>
                {{#if type}}
                <div>
                    &nbsp;
                    ({{type}})
                </div>
                {{/if}}
            </div>
            {{/diagram}}
        </div>
        {{/if}}
    </section>
</div>